<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <%-include('_header'); -%>
        <h1>view engine says <%= title %></h1>
        <%-include('_footer'); -%>
        
    </body>
</html>