#home-container{
    display: flex;
    height: 100%;
    #feed-post{
        width: 50%;
        padding: 10px;
    }
    #user-friends{
        width: 25%;
        padding: 10px;
        border-left: 1px solid lightgray;
        
    }
    #users{
        width: 25%;
        padding: 10px;
        border-left: 1px solid lightgray;
    }
}