#home-container {
  display: flex;
  height: 100%;
}

#home-container #feed-post {
  width: 50%;
  padding: 10px;
}

#home-container #user-friends {
  width: 25%;
  padding: 10px;
  border-left: 1px solid lightgray;
}

#home-container #users {
  width: 25%;
  padding: 10px;
  border-left: 1px solid lightgray;
}
